#hotPacks,
#positions{
    display: flex;
    justify-content: space-around;
}

#hotPacks div,
#positions div {
    padding-left: 10%;
}

@font-face {
    font-family: "FuturaBook";
    src: url("/fonts/FuturaPTBook.otf");
}

@font-face {
    font-family: "FuturaMedium";
    src: url("/fonts/FuturaPTMedium.otf");
}

@font-face {
    font-family: "FuturaDemi";
    src: url("/fonts/FuturaPTDemi.otf");
}

@font-face {
    font-family: "FuturaBold";
    src: url("/fonts/FuturaPTBold.otf");
}

@font-face {
    font-family: "FuturaHeavy";
    src: url("/fonts/FuturaPTHeavy.otf");
}

body {
    background-color: #ffffff;
    font-size: 1.5rem;
    font-family: "FuturaDemi";
}

#viewScene div {
    padding: 0.5rem;
    margin: 1rem;
    background-color: #f2f2f2;
}

#viewScene div {
    text-align: center;
}

#scenarioHeader,
#positionsHeader,
#hotPacksHeader {
    background-color: #565960 !important;
    color: white;
}

#hotPacksSection{
    visibility: hidden;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    margin: auto;
}

#OverlayChosenPositionHeader,
#OverlayChosenHotPacksHeader,
#OverlayCorrectImageHeader,
#OverlayCorrectChoiceHeader,
#completedDisplayHeader,
#completedDisplayText,
.overlay a {
    padding: 1rem;
    text-decoration: none;
    font-size: 	2.5rem;
    color: #000000;
    display: block;
    transition: 0.3s;
}

#completedDisplayHeader,
#OverlayHeader{
  padding: 1.5rem;
  text-decoration: none;
  font-size: 3.125rem;
  display: block;
  transition: 0.3s;
  text-align: center;
}

#completedDisplayText,
#OverlayChosenHotPacksText,
#OverlayChosenPositionText,
#OverlayChosenPosition,
#OverlayCorrectChoice,
#OverlayChosenHotPacks {
    padding: 1rem;
    text-decoration: none;
    font-size: 1.875rem;
    color: #ffffff;
    display: block;
    text-align: center;
    transition: 0.3s;
}

#OverlayCorrectImage{
  display: block;
  margin: auto;
  text-align: center;
  color: #ffffff;
  font-size: 1.875rem;
  padding: 0.625rem;
  transition: 0.3s;
  max-height: 100%;
}

#OverlayImage{
  max-width: 100%;
  height: auto;
}

#OverlayCorrectDisplay{
  display: inline-block;
  text-align: center;
  float: left;
  width: 50%;
}

#OverlayCorrectDescription{
  display: inline-block;
  text-align: center;
  float: right;
  width: 50%;
}

.overlay a:hover, .overlay a:focus {
    color: #ff0303;
}

.overlay .closebtn {
    position: absolute;
    top: 1.25rem;
    right: 2.8125rem;
    font-size: 	3.75rem;
}

@media screen and (max-height: 28.125 rem) {
  .overlay a {font-size: 1.25rem}
  .overlay .closebtn {
    font-size: 	2.5rem;
    top: 	0.9375rem;
    right: 	2.1875rem;
  }
}
