

/* #image_1{
  background-image: url(img/chapter1.svg);

}
#image_2{
  background-image: url(img/chapter2.svg);


}
#image_3{
  background-image: url(img/chapter3.svg);



}
#image_4{



}

#image_5{

  top:17%;
  left:33%;
  width:35%;


}
#image_6{



}

#image_7{



}
#image_8{



} */
