@font-face {
    font-family: "FuturaBook";
    src: url("/fonts/FuturaPTBook.otf");
}

@font-face {
    font-family: "FuturaMedium";
    src: url("/fonts/FuturaPTMedium.otf");
}

@font-face {
    font-family: "FuturaDemi";
    src: url("/fonts/FuturaPTDemi.otf");
}

@font-face {
    font-family: "FuturaBold";
    src: url("/fonts/FuturaPTBold.otf");
}

@font-face {
    font-family: "FuturaHeavy";
    src: url("/fonts/FuturaPTHeavy.otf");
}

body{
  background-color: #ffffff;
  font-family: "FuturaDemi";
}

.button{
  border-radius: 12px;
  font-size: 1rem;
  background-color: #ed1c24;
  padding: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}

.button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:focus, input[type="button"]:focus {
    outline: none;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#pageBody{
  background-color: #f2f2f2;
  padding:0.5rem;
  margin: 1rem;
  border-radius: 12px;
}

#pageTitle{
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #565960;
  border-radius: 0.75rem;
  padding: 1rem;
}

#pageText li{
  font-size: 1rem;
  color: #000000;
  padding: 0.25rem;
}

#pageTitle,
#pageText li,
#pageButton,
#pageText{
  text-align: center;
  display: block;
}

#slideImages{
  width: 75%;
  height: auto;
  text-align: center;
  padding-left: 12.5%;
  padding-right: 12.5%;
  padding-top: 3%;
  padding-bottom: 1%;
}
