#headerContent{
  background: #0F1626;
}

#footer{
  background: #0F1626;
}

#sidebar{
  background: #0F1626;
}

.chapterThumb {
  background-color: #FF533D;

}

.pageThumb {
  background-color: #FF733D;
}

.subpageThumb {
  background-color: #FF933D;
}

.thumbText{
  color : white;
}

/* .thumbNumber{
  color: white;
    font-size: 3rem;
    top: 15%;
    width: 95%;
    left: 0%;
} */


.thumbType{
  background-color: white;
}

.thumbTypeText{
  color: white;
}

#fullScreenButton {
    width: 4%;
    height: 100%;
    left: 96%;
    top: 0%;
    position: absolute;
    background-image: url(img/fullscreen_out.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    z-index: 20;
    pointer-events: auto;
    cursor: pointer;
}

.anim_fullScreenButtonIn {
    animation: fullScreenButtonIn .1s 0s 1 cubic-bezier(0, .5, .5, 1) normal forwards;
}

@keyframes fullScreenButtonIn {
    0% {
        transform: rotateY(0deg);
        background-image: url(img/fullscreen_out.svg);
    }
    25% {
        transform: rotateY(90deg);
        background-image: url(img/fullscreen_out.svg);
    }
    25.1% {
        transform: rotateY(270deg);
        background-image: url(img/fullscreen_in.svg);
    }
    100% {
        transform: rotateY(360deg);
        background-image: url(img/fullscreen_in.svg);
    }
}

.anim_fullScreenButtonOut {
    animation: fullScreenButtonOut .1s 0s 1 cubic-bezier(0, .5, .5, 1) normal forwards;
}

@keyframes fullScreenButtonOut {
    0% {
        transform: rotateY(0deg);
        background-image: url(img/fullscreen_in.svg);
    }
    25% {
        transform: rotateY(90deg);
        background-image: url(img/fullscreen_in.svg);
    }
    25.1% {
        transform: rotateY(270deg);
        background-image: url(img/fullscreen_out.svg);
    }
    100% {
        transform: rotateY(360deg);
        background-image: url(img/fullscreen_out.svg);
    }
}



#buttonPrevious {
    width: 7.5%;
    height: 80%;
    top: 10%;
    left: 35%;
    position: absolute;
    background-image: url(img/triangle_left.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    cursor: pointer;
}

#buttonNext {
    width: 7.5%;
    height: 80%;
    top: 10%;
    left: 57.5%;
    position: absolute;
    background-image: url(img/triangle_right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    cursor: pointer;
}

#image_1{
  background-image: url(img/chapter1.svg);

}
#image_2{
  background-image: url(img/chapter2.svg);
  width: 35%;
  left: 33%;
  top: 10%;
}
#image_3{
  background-image: url(img/chapter3.svg);

}
#image_4{
  background-image: url(img/chapter4.svg);
}

#image_4_3, #image_5_3 {
  background-image: url(../../sourceFiles/html/SectionCovers/img/videos.svg);
}

#image_5{
  background-image: url(img/chapter5.svg);
  width: 42%;
  left: 30%;
  top: 10%;
}
#image_6{
  background-image: url(img/chapter6.svg);

}
#image_7{
  background-image: url(img/chapter7.svg);

}
#image_8{
  background-image: url(img/chapter8.svg);

}
